<div class="tableSec"> 
<table align="center" border="1">

<tr>
    <th> Name</th>
    <th> Counter</th>
   
</tr>
  {{#each names}}
<tr>
    <td>{{people}}</td>
    <td>{{count}}</td>


    </tr>

{{/each}}
</table>


</div>