body {font-size: xx-large;
    background-image: url(/public/leave.jpg);
  text-align: center;
background-color: salmon;}
    
    
    h4 {text-align:center;}
  
        .radio_row{
          display: flex;
          justify-content: center;
        }
        
      .Greet_row{
        display: flex;
        justify-content: center;
      }
      .message_row{
        display: flex;
        justify-content: center;
      }
    