body {font-size: xx-large;
    background-image: url(/public/leave.jpg);}
    
    
    h1 {text-align:center;}
    /* h1 {border-style: solid;}
    h1 {
        margin-top: 150px;
        margin-bottom: 150px;
        margin-right: 200px;
        margin-left: 200px;
      } */
    /* h2 {border-style: solid;
        margin-top: 100px;
        margin-bottom: 150px;
        margin-right: 200px;
        margin-left: 200px;} */
    h4{text-align:justify;}
        .Name_row{
          display: flex;
          justify-content: center;
        }
    
        .radio_row{
          display: flex;
          justify-content: center;
        }
        
      .Greet_row{
        display: flex;
        justify-content: center;
      }
      .message_row{
        display: flex;
        justify-content: center;
      }
    